{#
    Author: Alexis Walle
    Page d'administration réservé aux admins
#}
{% extends "layout.html" %}

{% block content %}
    <h2 class="mb-3 text-center">Tableau de bord d'administration</h2>
    <div class="row">
        <div class="bg-light col-md-6">
            <h5>Statistiques</h5>
            <h6>Nombre utilisateurs : <span class="card-subtitle mb-2 text-muted">{{ nbUtilisateurs }}</span></h6>
            <h6>Nombre emprunts : <span class="card-subtitle mb-2 text-muted">{{ nombreEmpruntTotal }}</span></h6>
            <h6>Nombre documents : <span class="card-subtitle mb-2 text-muted">{{ nbDocuments }}</span></h6>
            <ul>
                {% for stat in statsDocuments %}
                    <li>{{ stat[0] }}: {{ stat[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Actions rapides</h5>
            <ul>
                <li><a href="livre/nouveau">Ajouter un document</a></li>
                <li><a href="connexion/inscription">Ajouter un utilisateur</a></li>
                <li><a href="/configuration-admin">Modifier la configuration</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Liste des derniers emprunts</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Support</th>
                <th scope="col">Email Emprunteur</th>
                <th scope="col">Identité</th>
            </tr>
            </thead>
            <tbody>
            {% for emprunt in emprunts %}
                <tr>
                    <td scope="col">{{ emprunt.id }}</td>
                    <td scope="col"><a href="/livre/{{ emprunt.document.id }}">{{ emprunt.document.titre }}</a></td>
                    <td scope="col">{{ emprunt.document.auteur }} </td>
                    <td scope="col">{{ emprunt.document.support }} </td>
                    <td scope="col">{{ emprunt.utilisateur.email }} </td>
                    <td scope="col">{{ emprunt.dateRetour }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Liste des derniers utilisateurs</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Profession</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td scope="col">{{ utilisateur.id }}</td>
                    <td scope="col">{{ utilisateur.nom }}</td>
                    <td scope="col">{{ utilisateur.prenom }} </td>
                    <td scope="col">{{ utilisateur.profession }} </td>
                    <td scope="col">{{ utilisateur.email }} </td>
                    <td scope="col">{{ utilisateur.estAdmin }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Ajouter un emprunt</h3>
        <form method="post" action="">
            <div class="form-group">
                <label for="email">Email Utilisateur</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="email" name="email" value="{{ request.form["email"] }}">
            </div>
            <div class="form-group">
                <label for="codebarre">Code-barre du document</label>
                <input type="number" class="form-control" id="codebarre" placeholder="Code-barre" name="codebarre"
                       value="{{ request.form["codebarre"] }}">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Emprunter</button>
        </form>
    </div>
{% endblock %}