{#
    Author: Alexis Walle
    Page de configuration du site (couleurs, titre)
#}
{% extends "layout.html" %}

{% block content %}
    <h2>Configuration</h2>
    <form method="post" action="">
        <div class="form-group">
            <label for="titre">Nom de l'application</label>
            <input type="text" class="form-control" id="titre"
                   placeholder="Titre" name="titre" value="{{ config.get("NOM_APPLICATION") }}" disabled>
        </div>
        <div class="row mt-3">
            <div class="form-group col-md-3">
                <label for="bg_color">Couleur d'arrière plan</label>
                <input type="color" class="form-control" id="bg_color"
                       name="bg_color" value="{{ configuration.bg_color }}">
            </div>
            <div class="form-group col-md-3">
                <label for="text_color">Couleur du texte</label>
                <input type="color" class="form-control" id="text_color"
                       name="text_color" value="{{ configuration.text_color }}">
            </div>
            <div class="form-group col-md-3">
                <label for="front_color">Couleur de fond page</label>
                <input type="color" class="form-control" id="front_color"
                       name="front_color" value="{{ configuration.front_color }}">
            </div>
            <div class="form-group col-md-3">
                <label for="nav_color">Couleur de la navigation</label>
                <input type="color" class="form-control" id="nav_color"
                       name="nav_color" value="{{ configuration.nav_color }}">
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="titre">Titre page d'accueil</label>
            <input type="text" class="form-control" id="titre"
                   placeholder="Titre" name="titre" value="{{ configuration.titre }}">
        </div>
        <div class="form-group mt-3">
            <label for="soustitre">Sous-titre page d'accueil</label>
            <input type="text" class="form-control" id="soustitre"
                   placeholder="SOus-titre" name="soustitre" value="{{ configuration.soustitre }}">
        </div>
        <div class="form-group mt-2">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </form>

{% endblock %}