{#
    Author: Alexis Walle
    Page affichant le détail d'un livre
#}
{% extends "layout.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/livres">Livres</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détail du livre</li>
        </ol>
    </nav>
    <div class="border rounded">
        <h2>{{ document.titre }}</h2>
        <h6>Auteur : <span class="card-subtitle mb-2 text-muted">{{ document.auteur }}</span></h6>
        <h6>Support : <span class="card-subtitle mb-2 text-muted">{{ document.support }}</span></h6>
        <p>Résumé :</p>
        <div class="bg-light border p-2">{{ document.resume }}</div>
        </p>
        <p>Publication : {{ document.datePublication }}, {{ document.editeur }}</p>
        <p>Disponibilité :
            {% if document.disponible == "disponible" %}
                <span class="text-success">Disponible</span>
            {% elif document.disponible == "emprunte" %}
                <span class="text-warning">Emprunté</span>
                {% if session.get('admin') %}
                    <a class="btn btn-dark" href="{{ url_for("urlsa.rendreLivre",id=document.id) }}">Rendre le livre</a>
                {% endif %}
            {% else %}
                <span class="text-danger">{{ document.disponible }}</span>
            {% endif %}
        </p>
        <p>Note : <span class="text-sucess">{{ document.note }}/5</span></p>
        <p>Emprunté {{ nbEmprunts }} fois.</p>
    </div>
    {% if session.get('admin') %}
        <div class="mt-2">
            <form method="post" action="/livre/{{ document.id }}/supprimer">
                <a class="btn btn-dark" href="/livre/{{ document.id }}/edition" role="button">Editer le document</a>
                <input type="submit" class="btn btn-danger" href="#" role="button" value="Supprimer"/>
                <a class="btn btn-light" href="/livre/{{ document.id }}/emprunts" role="button">Liste des emprunts</a>
            </form>
        </div>
    {% endif %}

{% endblock %}