{#
    Author: Alexis Walle
    Page permettant l'édition d'un livre
#}
{% extends "layout.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/livres">Livres</a></li>
            {%  if document.id %}
                <li class="breadcrumb-item"><a href="/livre/{{ document.id }}">Détail du livre</a></li>
            {% else %}
                <li class="breadcrumb-item active">Détail du livre</li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">Edition</li>
        </ol>
    </nav>
    <h2>Edition de la fiche</h2>
    <form method="post" action="">
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" aria-describedby="titre"
                   placeholder="Titre du document" name="titre" value="{{ document.titre }}">
        </div>
        <div class="form-group">
            <label for="auteur">Auteur</label>
            <input type="text" class="form-control" id="auteur" aria-describedby="auteur"
                   placeholder="Auteur" name="auteur" value="{{ document.auteur }}">
        </div>
        <div class="form-group">
            <label for="support">Support</label>
            <select class="form-control" id="support" name="support">
                <option value="livre">Livre</option>
                <option value="livre numerique">Livre numérique</option>
                <option value="dvd">DVD</option>
                <option value="cd">CD</option>
                <option value="revue">Revue</option>
            </select>
        </div>
        <div class="form-group">
            <label for="resume">Résumé</label>
            <textarea class="form-control" id="resume" name="resume" rows="3">{{ document.resume }}</textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="datePublication">Publication</label>
                    <input type="text" class="form-control" id="datePublication" aria-describedby="publication"
                           placeholder="Publication" name="datePublication" value="{{ document.datePublication }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="editeur">Editeur</label>
                    <input type="text" class="form-control" id="editeur" aria-describedby="editeur"
                           placeholder="Editeur" name="editeur" value="{{ document.editeur }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="editeur">Note</label>
                    <input type="number" class="form-control" id="note" aria-describedby="note"
                           placeholder="Note" name="note" value="{{ document.note }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="disponible">Disponible</label>
            <select class="form-control" id="disponible" name="disponible">
                <option value="disponible">Disponible</option>
                <option value="emprunte">Emprunte</option>
                <option value="perdu">Perdu</option>
                <option value="jete">Au rebus</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </form>

{% endblock %}