{#
    Author: Alexis Walle
    Page affichant la liste des emprunts d'un livre
#}
{% extends "layout.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/livres">Livres</a></li>
                <li class="breadcrumb-item"><a href="/livre/{{ idDocument }}">Détail du livre</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détail du livre</li>
        </ol>
    </nav>
    <h2>Liste des emprunts du livre :</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Profession</th>
            <th scope="col">email</th>
            <th scope="col">Date emprunt</th>
            <th scope="col">Date retour</th>
        </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td scope="col">{{ emprunt.id }}</td>
                <td scope="col">{{ emprunt.utilisateur.nom }} </td>
                <td scope="col">{{ emprunt.utilisateur.prenom }} </td>
                <td scope="col">{{ emprunt.utilisateur.profession }} </td>
                <td scope="col">{{ emprunt.utilisateur.email }} </td>
                <td scope="col">{{ emprunt.dateEmprunt }} </td>
                <td scope="col">{{ emprunt.dateRetour }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}