{#
    Author: Alexis Walle
    Page affichant la liste des emprunts d'un utilisateur
#}
{% extends "layout.html" %}

{% block content %}
    <div class="bg-light">
        <h2>Bienvenue {{ utilisateur.prenom }} {{ utilisateur.nom }}</h2>
        <h6>Nom : <span class="card-subtitle mb-2 text-muted">{{ utilisateur.nom }}</span></h6>
        <h6>Prenom : <span class="card-subtitle mb-2 text-muted">{{ utilisateur.prenom }}</span></h6>
        <h6>Profession : <span class="card-subtitle mb-2 text-muted">{{ utilisateur.profession }}</span></h6>
        {% if utilisateur.peutEmprunter %}
            <p style="color: green">Vous pouvez emprunter</p>
        {% else %}
            <p>Vous ne pouvez pas emprunter</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h3>Liste de vos emprunts :</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Support</th>
                <th scope="col">Date emprunt</th>
                <th scope="col">Date retour</th>
            </tr>
            </thead>
            <tbody>
            {% for emprunt in emprunts %}
                <tr>
                    <td scope="col">{{ emprunt.id }}</td>
                    <td scope="col"><a href="/livre/{{ emprunt.document.id }}">{{ emprunt.document.titre }}</a></td>
                    <td scope="col">{{ emprunt.document.auteur }} </td>
                    <td scope="col">{{ emprunt.document.support }} </td>
                    <td scope="col">{{ emprunt.dateEmprunt }} </td>
                    <td scope="col">{{ emprunt.dateRetour }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}