{#
    Author: Alexis Walle
    Page d'erreur lors de l'affichange d'une page à accès réservé
#}
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
  <h1 class="display-3">Accès non autorisé</h1>
<p>Veuillez contacter l'administrateur si vous pensez avoir les droits d'accéder à cette page</p>
</div>
{% endblock %}
