{#
    Author: Alexis Walle
    Page d'erreur si une requête n'est associée à aucune route (page non trouvée)
#}
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
  <h1 class="display-3">Page non trouvée !</h1>
</div>
{% endblock %}
