{#
    Author: Flask
    Page par défault de flask
#}
<!doctype html>
<head>
	<title>Hello from Flask</title>
</head>
<body>
	{% if name %}
	  <h1>Hello {{ name }}!</h1>
	{% else %}
	  <h1>Hello, World!</h1>
	{% endif %}
</body>