{#
    Author: Alexis Walle
    Page d'accueil du site
#}
{% extends "layout.html" %}

{% block content %}


    <div class="jumbotron text-center">
        <h1 class="display-3">{{ configuration.titre }}</h1>
        <p class="lead">{{ configuration.soustitre }}</p>
        <div class="lead center" style="margin: auto; width: 50%">
            <form method="get" action="/livres">
                <input class="form-control" type="search" name="q" autofocus>
                <input type="submit" class="btn btn-primary btn-sm" href="#" role="button" value="Faire une recherche"/>
            </form>
        </div>
        <h4>Derniers livres de la médiathèque</h4>
    </div>

    <div class="card-group">
        {% for document in documents %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="/livre/{{ document.id }}" class="card-link">{{ document.titre }}</a>
                    <h6 class="card-subtitle mb-2 text-muted">{{ document.auteur }} - {{ document.support }}</h6>
                    <p class="card-text">{{ document.resume }}</p>
                    <h7 class="text-danger">{{ document.disponible }} </h7>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
