{#
    Author: Clément Maubant
    Page donnant le squelette du site
#}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Permet de gérer une médiathèque simplement">
    <meta name="author" content="Ensta Bretagne">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('urls.color') }}" rel="stylesheet">

    <title>{% block title %}{{ config.get("NOM_APPLICATION") }}{% endblock %}</title>
</head>

<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light navigation">
            <a class="navbar-brand" href="#">{{ config.get("NOM_APPLICATION") or "Projet" }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Page d'accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/livres">Liste des documents</a>
                    </li>
                    {% if session.get('email') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/emprunts">Emprunts</a>
                        </li>
                        {% if session.get('admin') %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/connexion">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/connexion">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <form class="form-inline xs-3" method="get" action="/livres">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" name="q">
            </form>
        </nav>
    </div>
    <main class="row">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                {%- for msg in errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}
        {% with errors = get_flashed_messages(category_filter=["info"]) %}
            {% if errors %}
                {%- for msg in errors %}
                    <div class="alert alert-info alert-dismissible fade show">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}
        {% block content %}
            <h1>Contenu par défault</h1>
        {% endblock %}
    </main>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</html>