{#
    Author: Alexis Walle
    Page affichant la liste des livre d'une recherche particulière ou non
#}
{% extends "layout.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Livres</li>
        </ol>
    </nav>
    <form class="form-row form" method="get" action="">
        <div class="col-lg-4">
            <div class="form-group row">
                <label for="order" class="col-sm-6 col-form-label">Ordre d'affichage</label>
                <select name="order" class="form-control d-inline" onchange="this.form.submit()">
                    {% for n,v in listeOrdre.items() %}
                        <option value="{{ n }}" {% if request.args.get("order", "id") == n %} selected {% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
                {% if querry %}
                    <input class="form-control col-lg-2 mt-2" type="search" value="{{ querry }}" name="q" autofocus>
                {% endif %}
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Support</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Editeur</th>
            <th scope="col">Date de publication</th>
            <th scope="col">Note</th>
            <th scope="col">Disponibilité</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td scope="col">{{ document.support }}</td>
                <th><a scope="col" href="/livre/{{ document.id }}" class="card-link"> {{ document.titre }}</a></th>
                <td scope="col">{{ document.auteur }} </td>
                <td scope="col">{{ document.editeur }} </td>
                <td scope="col">{{ document.datePublication }} </td>
                <td scope="col">{{ document.note }} </td>
                <td scope="col">{{ document.disponible }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="text-info">Page {{ pagination.page }} affichée pour {{ pagination.total }} résultats</p>
    <nav aria-label="Page navigation example">
        {{ pagination.links }}
    </nav>
    {% if session.get('admin') %}
        <div class="mt-2">
            <a class="btn btn-dark" href="/livre/nouveau" role="button">Ajouter un document</a>
        </div>
    {% endif %}
{% endblock %}