{% extends "layout.html" %}

{% block content %}
    <form method="post" action="">
        <div class="mb-3">
            <label for="email" class="form-label">Adresse email</label>
            <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nous n'allons partager vos données à personne.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input name="password" type="password" class="form-control" id="password" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="resterConnecte" id="resterConnecte">
            <label class="form-check-label" for="resterConnecte">Rester connecté</label>
        </div>
        <button type="submit" class="btn btn-info">Valider</button>
        <a class="btn btn-light" href="/connexion/inscription">Créer un compte</a>
    </form>
{% endblock %}