{% extends "layout.html" %}

{% block content %}
<form method="post" action="{{ url_for('auth.inscription') }}">
    <div class="mb-3">
        <label for="Nom" class="form-label">Nom</label>
        <input name="nom" class="form-control" id="Nom" required>
    </div>
    <div class="mb-3">
        <label for="Prénom" class="form-label">Prénom</label>
        <input name="prenom" class="form-control" id="prenom" required>
    </div>
    <div class="mb-3">
        <label for="Profession" class="form-label">Profession</label>
        <input name="Profession" class="form-control" id="Profession" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Adresse email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
    </div>
    <div class="mb-3">
        <label for="MotdePasse" class="col-sm-2 col-form-label">Mot de passe</label>
        <input name="MotdePasse" type="password" class="form-control" id="MotdePasse" required>
    </div>
    <div class="mb-3">
        <label for="MotdePasse2" class="col-sm-2 col-form-label">Vérification de mot de passe</label>
        <input name="MotdePasseBis" type="password" class="form-control" id="MotdePasse2" required>
    </div>
    <button type="submit" class="btn btn-info">Valider</button>
</form>
{% endblock %}